@import url(https://fonts.googleapis.com/css?family=Nunito);
html, body {
  height: 100%;
  margin: 0px;
}

#app,
section,
section > div {
  height: 100%;
}

.ant-layout-content {
  background: #f8fafc;
}

.ant-layout-header {
  background: #fff;
  border-bottom: 1px solid #ebebeb;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.06);
}

.header-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-info .name {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-right: 15px;
}

.login-form-button {
  width: 100%;
}

.login-form-forgot {
  float: right;
}

.register-form .ant-form-item {
  margin-bottom: 10px;
}
.register-form .ant-form-item-label {
  padding: 0 !important;
}
.register-form .ant-form-item-label label {
  height: 30px;
}

.auth-spin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.dashboard {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ant-table-summary {
  z-index: auto;
}

@page {
  size: 216mm 279.4mm;
  margin: 5mm 1.4mm 5mm 1.4mm;
  /* Reduce margins to minimize extra space */
}
.print-section {
  width: 216mm;
}

.label-sheet {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 216mm;
  /* Set the sheet width to 8.5 inches */
  height: 279.4mm;
  /* Set the sheet height to 11 inches */
  align-items: center;
  justify-content: center;
}

/* Sticker styling */
.label {
  border: 1px dashed #000;
  border-radius: 5px;
  width: 66.7mm;
  /* Set label width to 2-5/8 inches */
  height: 26mm;
  /* Set label height to 1 inch */
  padding: 0.04in;
  /* Adjust this for spacing inside each label */
  margin: 0in 0in 0.008in 0in;
  font-size: 12px;
  display: flex;
  align-items: center;
}

/* Print-specific styles */
@media print {
  body {
    visibility: hidden !important;
  }
  .ant-layout,
  .ant-layout-content {
    margin: 0 !important;
    padding: 0 !important;
  }
  header.ant-layout-header,
  aside.ant-layout-sider,
  button.ant-btn,
  .sticker_page_header,
  footer.ant-layout-footer {
    display: none;
  }
  .print-section {
    visibility: visible;
  }
}
/* Drag table*/
tr.drop-over-downward td {
  border-bottom: 2px dashed #1890ff;
}

tr.drop-over-upward td {
  border-top: 2px dashed #1890ff;
}

.row-status-canceled {
  background-color: rgba(129, 33, 33, 0.3607843137); /* example color */
}

.row-orderType-pickup {
  background-color: rgba(9, 62, 175, 0.1921568627); /* example color */
}
